# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.env
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Backups
backup_*.sqlite3
